:root {
  --color01: #F0F7F4;
  --color02: #A2E3C4;
  --color03: #B3BFB8;
  --color04: #7E8D85;
  --color05: #3C493F;
}

body {
  background: linear-gradient(to right, var(--color05), var(--color04));
  color: var(--color01);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.6rem;
  text-shadow: 2px 2px 6px var(--color05);
}

hr {
  background-color: var(--color03);
  border: none;
  color: var(--color03);
  margin: 0.8rem;
  width: 90%;
  height: 0.26rem;
  margin: 1.6rem;

}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloco {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 0.6rem 0;
}

.bloco input,
.bloco select,
.bloco .enviar {
  border: none;
  box-shadow: 6px 6px 10px var(--color05);
  color: var(--color05);
  font-size: 1.2rem;
  padding: 0.6rem 0;
  text-align: center;
  width: 400px;
}

.bloco .enviar {
  border-radius: 10px;
  width: 300px;
}

.enviar:hover {
  background-color: var(--color04);
  color: var(--color02);
  transition: 0.2s;
}

.enviar:active {
  background-color: var(--color02);
  color: var(--color04);
}

.resultado {
  align-items: baseline;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.displayContainer {
  display: flex;
  gap: 2rem;
}

.display {
  font-size: 1.8rem;
  font-weight: bold;
}

.display .verde {
  color: #593527;
  text-shadow: 2px 2px 6px var(--color05);
}

.display .azul {
  color: #042940;
  text-shadow: 2px 2px 6px var(--color05);
}

@media (max-width: 700px) {
  body {
    font-size: 1rem;
  }
<<<<<<< HEAD

  h1 {
    font-size: 2rem;
    padding: 0 1rem;
    text-align: center;
=======
  h1 {
    text-align: center;
    font-size: 2rem;
>>>>>>> 9e11d71f5971c475f8a00dd05ae8cc1c801b4ed0
  }

  .bloco {
    width: 100vw;
  }

  .bloco input,
  .bloco select,
  .bloco .enviar {
    font-size: 1rem;
<<<<<<< HEAD
    padding: 0.7rem 0;
=======
>>>>>>> 9e11d71f5971c475f8a00dd05ae8cc1c801b4ed0
    width: 80vw;
  }

  .bloco .enviar {
    font-size: 1rem;
    width: 80vw;
  }

  .displayContainer {
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.2rem;
  }

<<<<<<< HEAD
  .display h3,
  .display p {
=======
  .display h3, .display p {
>>>>>>> 9e11d71f5971c475f8a00dd05ae8cc1c801b4ed0
    font-size: 1.4rem;
    margin: 0.4rem;
  }
}